.thankyouNote1{
    font-family: 'Lexend Peta', sans-serif;
    color: #333;
    text-align: center;
    margin-top: 100px;
}

.thankyouNote2{
    font-family: 'Lexend Peta', sans-serif;
    color: #333;
    text-align: center;
    margin-bottom: 250px;
}