#openFormJumbo{
    margin-top: 60px;
    margin-bottom: 100px;
    font-family: 'Lexend Peta', sans-serif;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

@media only screen
  and (max-device-width: 600px) {
    #openFormJumbo{
        width: 95%;
    }
}